@model IEnumerable<CarsNOwners.Presentation.Models.CarViewModel>

<h2>Not owner's cars</h2>

<table class="table table-striped" id="car-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfAuto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfIssue)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="editable-car-rows">
                <td class="carId" hidden>@item.Id</td>
                <td class="model">@item.Model</td>
                <td class="brand">@item.Brand</td>
                <td class="typeOfAuto">@item.TypeOfAuto</td>
                <td class="price">@item.Price</td>
                <td class="yearOfIssue">@item.YearOfIssue</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm add-car-to-owner">
                        <span class="glyphicon glyphicon-ok"></span> Add Car to owner
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>
