@model IEnumerable<CarsNOwners.Presentation.Models.OwnerViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>Owners</h2>
</br>
<div id="result"></div>
<table class="table table-striped" id="owner-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpirienceOfDriving)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="editable-owner-rows">
                <td class="ownerId" hidden>@item.Id</td>
                <td class="name" contenteditable>@item.Name</td>
                <td class="surname" contenteditable>@item.Surname</td>
                <td class="yearOfBirth" contenteditable>@item.YearOfBirth</td>
                <td class="expirienceOfDriving" contenteditable>@item.ExpirienceOfDriving</td>
                <td>
                    <a href="/Home/OwnerCars/@item.Id" class="btn btn-success btn-sm owner-cars">
                        <span class="glyphicon glyphicon-list"></span>Owner's cars
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-info btn-sm update-owner disabled">
                        <span class="glyphicon glyphicon-refresh"></span> Save change
                    </button></td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm delete-owner">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </button>
                </td>
            </tr>
        }
        <tr>
            <td>
                <input id="Name" name="Name" type="text" class="form-control" placeholder="Name">
            </td>
            <td>
                <input id="Surname" name="Surname" type="text" class="form-control" placeholder="Surname">
            </td>
            <td>
                <input id="YearOfBirth" name="YearOfBirth" type="number" class="form-control" placeholder="Year Of Birth" max="2017" min="1920">
            </td>
            <td>
                <input id="ExpirienceOfDriving" name="ExpirienceOfDriving" type="number" class="form-control" placeholder="Expirience Of Driving" maxlength="2">
            </td>
            <td>
                <button type="button" class="btn btn-success btn-sm" id="add-owner">
                    <span class="glyphicon glyphicon-ok"></span> Add
                </button>
            </td>
        </tr>
        </tbody>

</table>
